<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BENIGN KERATOSIS</title>
    <link rel="stylesheet" href="../public/style.css">
    <style>*{
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    header{
        background-color: #4caf50;
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin: 10px;
    }
    li{
        margin-bottom: 5px;
    }</style>
</head>
<body>
    <header>
        <h2>BENIGN KERATOSIS</h2>
    </header>
    <main>
 <p><br><h4>Definition:</h4> Benign keratosis refers to a group of non-cancerous skin growths characterized by the excessive production of keratin, a protein found in the skin's outer layer. These growths can vary in appearance and texture but are generally harmless.

    <br><h4>Cause:</h4> The exact causes of benign keratosis can vary depending on the specific type of growth. Some may result from genetics, while others may be associated with factors such as sun exposure or aging.
    <h4><br>Common Symptoms of Atopic Dermatitis:</h4>
    
    <li>Symptoms of benign keratosis can vary depending on the specific type and location of the growth. In general, these growths are characterized by changes in the skin's texture, color, or appearance. They are typically painless but may occasionally be itchy or irritated.
    </li>
        <script src="../public/main.js"></script>
</body>
</html>     